.ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60px;
  height: 100vh;
  background-color: #1b2e43;
}
.iconCtn {
  text-align: center;
  padding: 10px;
}
.icon {
  height: 25px;
  width: auto;
}
.logoCtn,
.profileCtn {
  padding: 20px 10px 30px 10px;
  display: flex;
  justify-content: center;
}
.profileCtn {
  padding: 10px 10px 20px 10px;
}
.logo {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
.item {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  padding: 8px 0;
}
.active {
  display: flex;
  justify-content: center;
  margin: 8px 0;
  padding: 8px 0;
  background-color: white;
}

.itemCtn {
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.itemCtn::-webkit-scrollbar {
  /* Chrome/Safari/Webkit */
  width: 0px;
  background: transparent;
}
.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.imageCtn {
  display: flex;
  justify-content: center;
}
.modal img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profileDetails {
  width: 60%;
  margin: auto;
}

.email {
  text-align: center;
  margin-top: 1rem;
  color: var(--grey-text-light);
}
